<li>
    <div class="all-projects-list">
        <span>
            {{#if completed}}
            <i class="far fa-check-circle"> </i>{{else}}
            <i class="far fa-circle incomplete-task-circle" data-id="{{this.dataValues.id}}"></i>{{/if}}
            <span class="project-title">{{this.dataValues.id}} - {{this.dataValues.taskName}} - {{this.dataValues.status}} - Due: {{this.dataValues.endDate}} - {{this.dataValues.projectName}} - {{this.dataValues.userName}}
                <img id="nav-profile-image" src="{{this.dataValues.image}}">
            </span>
            <i data-id="{{this.dataValues.id}}" class="fas fa-trash-alt task-trash float-right"></i> 
            <span class="project-description float-right">
                <i class="far fa-clock overdue-task" data-id="{{this.dataValues.id}}" data-status="{{this.dataValues.status}}"></i>
            </span>
            <span class="add-task-comment float-right" data-id="{{this.dataValues.id}}">
                <i class="fas fa-plus small-plus" data-toggle="modal" data-target="#addctaskModal-{{this.dataValues.id}}"></i>
            </span>

        </span>
    </div>

     <!-- Add Comment Modal  -->
    <div class="modal fade" id="addctaskModal-{{this.dataValues.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="add-comment-title">Add Comment - {{this.dataValues.taskName}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-task-comment" class="needs-validation" name="addcomment" method="POST" action="/api/comments" novalidate>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="comment">Comment</label>
                                    <input type="text" name="comment" class="form-control" id="comment" placeholder="Input follow up actions......" required>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="taskName" hidden>For Task</label>
                                    <Input type="text" name="taskName" class="form-control" id="taskName-comment" value="{{this.dataValues.taskName}}" hidden required>
                                    <div class="valid-feedback" hidden>
                                    ✓ Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="touserName">To</label>
                                    <select name="touserName" class="form-control" id="to-comment-{{this.dataValues.id}}" placeholder="User Name" required>
        
                                    </select>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary bg-primary" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</li>